*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #3f84d5;
}

img {
  box-shadow: 0px 6px 0px 0px #ffcf1e;
}

header {
  background-color: #bc091c;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav img,
.search-bar img {
  box-shadow: none;
}

header > nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}
header > nav > a {
  text-decoration: none;
  color: white;
}
header > nav > .button {
  border: 1px solid white;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
}

.logo-image {
  width: 96px;
}
header > .search-bar {
  height: 70px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 550px;
  padding: 1rem 5rem;
}
main {
  margin-right: 3rem;
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
main > .title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

main > nav {
  display: grid;
  grid-auto-flow: columns;
  grid-auto-columns: 1fr;
  border-radius: 10px;
  overflow: hidden;
}
main > nav > button {
  background: #f3f3f3;
  border: none;
  padding: 0.8rem 1rem;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e0e0e0;
}
main > nav > button[aria-selected='true'] {
  background: #e0e0e0;
  box-shadow: inset 0px -3px 0px 0px red;
}
main > nav > button:hover {
  background: #e0e0e0;
  cursor: pointer;
}
main > nav > button > span {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

main > section {
  padding-top: 1rem;
  padding-inline: 6rem;
  margin: auto;
}
.section-container {
  display: flex;
  gap: 1rem;
}
.section-container > img {
  width: 300px;
  height: 150px;
}
.section-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f3f3f3;
  padding: 1.5rem;
  border-radius: 10px;
  max-height: fit-content;
  position: sticky;
  top: 160px;
}
article {
  display: flex;
  gap: 1rem;
}
article > img {
  width: 165px;
  height: 105px;
}
.article-title {
  font-weight: bold;
}
.article-title:hover {
  color: #3f84d5;
  cursor: pointer;
}

.leasing-offers {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.leasing-offers img {
  box-shadow: none;
}
.offer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer-header-text p {
  font-size: 0.8rem;
}
.offer-header-text a {
  color: #3f84d5;
  text-decoration: none;
}
.offer-header button {
  border: 1px solid #e0e0e0;
  background-color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  color: #3f84d5;
  font-weight: bold;
  cursor: pointer;
}
.offer-header button:hover {
  border-color: #3f84d5;
}

.faq {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
.faq-title {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.faqs-container {
  display: flex;
  flex-direction: row;
  width: 860px;
  gap: 2rem;
}
.faqs-list {
  flex: 1;
}
details > summary {
  list-style: none;
  padding-bottom: 5px;
  position: relative;
}
details > summary > strong {
  font-weight: 400;
}
details > summary::after {
  content: '+';
  position: absolute;
  color: #3f84d5;
  right: 0;
}
details[open] > summary {
  padding-bottom: 15px;
}
details[open] > summary::after {
  content: '-';
}
summary:hover {
  cursor: pointer;
}
details summary::-webkit-details-marker {
  display: none;
}
.item {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

footer {
  margin-top: 5rem;
  width: 100vw;
  height: 800px;
  background-color: #1a262d;
}

.article-list {
  display: flex;
  gap: 5rem;
  padding-top: 1rem;
}
.article-list li {
  list-style: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}
.article-list li a {
  color: black;
}
.article-list li:hover a {
  color: #3f84d5;
}
